<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Announcements</h2>
                <hr class="light">
                <p>
                    This is our new PGSA webpage!
                </p>
            </div>
        </div>
    </div>
    <center>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&title=PGSA&src=Y18wNDY5Y2RiNTcwNzY4NDJjNTI2NzM5ZmVmOTRlMjE3MjMyYzVlZTdkYmVmZGExOGU3ZjJiNDA4YTBmZmIwODRiQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y181MTQwYjMzN2I4NzE3OTc5Y2Y4OWQ4NzY3YTkyODljNTljZjMxMzY1YmQ3ODk2NWE5NDUzZGJjYTg4MWRkMGQ4QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=c3Rvbnlicm9vay5lZHVfZHV2bnBobzRpdmR0bzBzZW5lYWMyaWlncmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%233F51B5&color=%23F6BF26&color=%23D50000" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </center>
</section>
