<style>
    ul.a {
      list-style-type: circle;
    }
    
    ul.b {
      list-style-type: square;
    }
    
    ol.c {
      list-style-type: upper-roman;
    }
    
    ol.d {
      list-style-type: lower-alpha;
    }
</style>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're here to help Physics & Astronomy Graduate Students at SBU!</h2>
                <hr class="light">
                <p class="text-faded">
                    Your PGSA board:
                </p>
                <table class="officers">
                    <tbody>
                        <tr>
                            <th scope="row">President:</th>
                            <td>Edoardo Buonocore (edoardo.buonocore)</td>
                        </tr>
                        <tr>
                            <th scope="row">Vice President:</th>
                            <td>Gonenc Mogol (gonenc.mogol)</td>
                        </tr>
                        <tr>
                            <th scope="row">Treasurer:</th>
                            <td>Prakruth Adari (prakruth.adari)</td>
                        </tr>
                        <tr>
                            <th scope="row">Secretary:</th>
                            <td>Nicole Khusid (nicole.khusid)</td>
                        </tr>
                        <tr>
                            <th scope="row">Historian:</th>
                            <td>Luke Legnosky (luke.legnosky)</td>
                        </tr>
                        <tr>
                            <th scope="row">Director of External Affairs:</th>
                            <td>Jacob Smith (jacob.a.smith)</td>
                        </tr>
                        <tr>
                            <th scope="row">Director of Marketing:</th>
                            <td>Jolien van Nieuwenhuizen (helena.vannieuwenhuizen)</td>
                        </tr>
                        <tr>
                            <th scope="row">Director of Outreach:</th>
                            <td>Julian Driebeek (julian.driebeek)</td>
                        </tr>
                        <tr>
                            <th scope="row">Underclassperson Member-at-Large:</th>
                            <td>Daniel Firak (daniel.firak)</td>
                        </tr>
                        <tr>
                            <th scope="row">Upperclassperson Member-at-Large:</th>
                            <td><i>vacant</i></td>
                        </tr>
                    </tbody>
                </table>
                    <!-- <p class="text-faded">
                        
                        
                        Our general grad school and physics program information Wiki is now available. Feel free to request a user account. We are keeping it private so that the information we share does not spread too widely, but anyone can get an account as long as they treat the wiki respectfully.
                    </p>
                <a href="http://grad08.physics.sunysb.edu/wiki/Main_Page" class="btn btn-default btn-xl">PGSA Wiki page</a> -->
            </div>
</section>
